<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12819330116-eiffcupee7u457a7n7ggnah0jbvhdk3e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12819330116-eiffcupee7u457a7n7ggnah0jbvhdk3e</string>
	<key>API_KEY</key>
	<string>AIzaSyDpQKlUxNaj-UZNagM3VB8O_gbvr4JIx6M</string>
	<key>GCM_SENDER_ID</key>
	<string>12819330116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pranavbadgi.Gymmy</string>
	<key>PROJECT_ID</key>
	<string>gymmyft</string>
	<key>STORAGE_BUCKET</key>
	<string>gymmyft.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12819330116:ios:7048e8d364531b6a64f811</string>
	<key>DATABASE_URL</key>
	<string>https://gymmyft.firebaseio.com</string>
</dict>
</plist>